# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

[Unit]
Description=NPM offline registry cache and standalone registry

[Service]
Type=forking
Environment=NPM_PATH={{ npm_cache_path }}
Environment=REGISTRY_NAME={{ registry_name }}
Environment=PORT=8080
Environment=ENABLE_NPM_FAILOVER={{ enable_failover }}
Environment=LOCAL_REGISTRY={{ local_registry_or_host_uri }}
WorkingDirectory={{ working_dir }}
User={{ user }}
Group={{ user }}
ExecStart={{ bin_path }}

[Install]
WantedBy=multi-user.target
